body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.search-1, .search-2, .add, .edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.search-name, .search-type, .search-random-pokemon, .search-final-evolutions, .search-all-pokemon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pokemon-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: 40vh;
    width: 100%;
}

.pokemon-item{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.pokemon-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: 10px;
}

.pokemon-name{
    font-weight: bold;
    margin-right: 10px;
}

.pokemon-type{
    font-weight: bold;
    color: gray;
}
